.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.loading {
  align-self: center;
  border: 4px solid #e5e5e5;
  border-top-color: #3b82f6;
  border-radius: 50%;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
