.title {
  font-size: var(--font-h3-size);
  color: var(--text-color-primary);
}

.description {
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color-secondary);
}

.closeButton {
  padding: 4px 16px;
  max-width: 80px;
  border-radius: 8px;
  cursor: pointer;
  background: none;
  border: var(--border-light);
  flex-basis: 1;
  outline: none;
  color: var(--text-color-primary);
}

.closeButton:hover {
  color: var(--text-color-hover-primary);
}
