.nav {
  border-bottom: solid 1px var(--border-light);
  padding: 14px 24px;
  display: inline-flex;
  justify-content: right;
  gap: 28px;
  user-select: none;
}

.nav a {
  color: var(--text-color-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease;
  padding: 6px 0;
}

.nav a:hover {
  color: var(--text-color-hover-primary);
  text-decoration: underline;
}

.nav a.active {
  color: var(--text-color-active);
  font-weight: 600;
}
