.modal {
  position: relative;
  max-width: 60vw;
  min-width: 180px;
  max-height: 90vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background: var(--bg-color-secondary);
  color: var(--text-color-primary);
  border-radius: 10px;
  border: 0.5px solid var(--border-light);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.modalFooter {
  align-self: end;
}

.close {
  border-radius: 2px;
  padding: 0 3.2px;
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  background-color: rgb(255, 60, 0);
  border: 0.4px solid rgba(203, 84, 0, 0.8);
  color: white;
  box-shadow: 0 0 1px 0.1px rgba(203, 84, 0, 0.8);
}

.close:hover {
  background-color: rgba(255, 60, 0, 0.9);
}
