.header {
  padding: 16px;
  text-align: center;
  max-height: 60px;
  background: #ffffff;
  color: var(--text-color-primary);
}

.title {
  font-size: var(--font-h2-size);
  line-height: var(--line-h2-height);
}
