.photoContent {
  padding: 10px;
}

.title {
  font-size: var(--font-h2-size);
  line-height: var(--line-h2-height);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

.picture {
  color: green;
  max-width: 50vw;
}
