.ico {
  height: 40px;
  color: #efe411;
  cursor: pointer;
  border-radius: 50px;
}

.themeButton {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
