.main {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  flex: 1;
  min-width: 200px;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--bg-color-primary);
}
