@import "./shared/styles/constants.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size-default);
}

body {
  font-size: var(--font-size);
  color: var(--text-color-primary);
  animation: fadeIn 1s ease-out forwards;
  will-change: opacity;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
